<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>文件上传</title>
	<!-- 引入网站图标 -->
	<link rel="shortcut icon" href="../static/ig.ico">
    <!-- 插入jquery -->
    <script src="../static/jquery.js"></script>
    <!-- 插入echarts -->
    <script src="../static/echarts.min.js"></script>
	<!-- 设定一个全局变量作为一个应用根路径的前缀 -->
    <script type=text/javascript>
    	var $SCRIPT_ROOT = {{request.script_root|tojson|safe}};
	</script>
	<!-- 异步函数引入 -->
    <script src="{{url_for('static', filename='js/readfile.js')}}"></script>

	<!-- css样式引入 -->
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/font/iconfont.css">
	<link
      href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
	/>
  </head>
  <body>
 
    <!-- 头部部分开始 -->
	<div class="head w">
		<!-- logo部分 -->
		<a class="logo" href="/">
			<img src="../static/image/logo.png">
		</a>
		<!-- 导航栏 nav -->
		<div class="head_nav">
			<ul>
				<li><a href="er.html">ER</a></li>
				<li><a href="ws.html">WS</a></li>
				<li><a href="ba.html">BA</a></li>
				<li><a href="#" style="color: blue;">文件上传</a></li>
			</ul>
		</div>
		<!-- 搜索模块 -->
		<div class="search">
			<input type="text" value="输入关键词">
			<button></button>
		</div>
		<!-- 用户模块 -->
		<div class="user">
			<img src="../static/image/user.png" id="ico" alt="" style="vertical-align: middle;">
			minyue
		</div>
	</div>
    <!-- 头部部分结束 -->
	<!-- 主体部分 -->
	
	<div class="w">
		<div style="padding-left: 14px">
			<input type="file" id="files" name=""></input>
			<button style="margin-top: 5px; padding: 1px 6px;" id="submit">确定上传</button>
		</div>
		<div style="padding-left: 14px">
			平均度：<span id="avgdegree" style="max-width: 8em;">?</span>
			平均路径：<span id="avgpath">?</span>
			平均聚类系数：<span id="avgcluster">?</span>
		</div>
		<div style="overflow: hidden;">
			<div id="er_pic" style="width: 590px; height: 400px; float: left;"></div>
			<div id="er_degree" style="width: 590px; height: 400px; float: right;"></div>
		</div>
	</div>

	<!-- 导航栏样式文件 -->
	<script src="{{url_for('static', filename='js/bootsnav.js')}}"/></script>
	<script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/colorpalettepicker.js')}}"></script>
    <script type="text/javascript">
      $("#colorpalettediv").colorPalettePicker({
        lines: 4,
        onSelected: function (color) {
          $("#colorpalettediv").attr("value", color);
        },
      });
	</script>
	
	<script>
		var inputElement = document.getElementById("files");
		inputElement.addEventListener("change", handleFiles, false);
		function handleFiles() {
		   var selectedFile = document.getElementById("files").files[0];//获取读取的File对象
		   var name = selectedFile.name;//读取选中文件的文件名
		   var size = selectedFile.size;//读取选中文件的大小
		   console.log("文件名:"+name+"大小："+size);
		   var reader = new FileReader();//这里是核心！！！读取操作就是由它完成的。
			reader.readAsText(selectedFile);//读取文件的内容
	
			reader.onload = function(){
				console.log("读取结果：", this.result);
				console.log("读取结果转为JSON：");
				$("#files").attr("name",this.result);
			};
	
		}
	</script>
  </body>
</html>
